# Server Configuration
PORT=5000

# Supabase DB 1: Cognitive Aptitude Test
SUPABASE_URL_1=
SUPABASE_KEY_1=

# Supabase DB 2: Coding Skills Assessment
SUPABASE_URL_2=
SUPABASE_KEY_2=

# Supabase DB 3: Personality Profile
SUPABASE_URL_3=
SUPABASE_KEY_3=

# Supabase DB 4: English Proficiency Test
SUPABASE_URL_4=
SUPABASE_KEY_4=

# Supabase DB 5: Technical Architecture Quiz
SUPABASE_URL_5=
SUPABASE_KEY_5=
